.backdrop {
    position: fixed;
    z-index: 19;
    /*Z Index Is 19 Because Modal Z-index Is 20. Its Needs To Load Behind Modal*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}
.modalContainer {
    top: 10vh;
    position: fixed;
    z-index: 20;
    width: 50vw;
    left: 25%;
    height: 75vh;
    background: #DDEEF5;
    border-radius: 0.5rem;
}
.modalContainer-side-menu-active{
    left: 36%;
}
.modal-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    height: 100%;
}
.input-container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}
.input-container input{
    font-family: var(--font-source-sans-3);
    color: #03271D;
    width: 60%;
    border: 0;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    outline: 2px solid rgb(152, 152, 152);
    background: transparent;
}
.input-container input::placeholder{
    text-align: center;
}
.input-container input:focus{
    outline: 2px solid #03271D;
}
.input-container input:focus::placeholder{
    color: #03271D;
}
.pre-insert-options{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.pre-insert-options svg{
    cursor: pointer;
    transform: scale(1);
    transition: transform 150ms ease-in;
}
.pre-insert-options svg:hover{
    transform: scale(1.3);
}
.icon-youtube{
    width: 2rem;
    height: 2rem;
}
.icon-youtube-selected{
    fill: rgb(225, 0, 0);
}
.icon-twitch{
    width: 1.75rem;
    height: 1.75rem;
}
.icon-twitch-selected{
    fill: rgb(135, 91, 202);
}
.fetch-info{
    width: 25%;
    margin: 0 auto;
    font-family: var(--font-space-mono);
    text-transform: uppercase;
    font-weight: 700;
    color: #03271D;
    border-radius: 0.3rem;
    border: none;
    background: transparent;
    outline: 1px solid #03271D;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.fetch-info:hover{
    background: #03271D;
    color: #C6FCEC;
}
.video-info{
    position: relative;
    height: 52%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.thumbnail-and-creator{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    gap: 1.5rem;
}
.thumbnail{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 8px rgba(3, 39, 29 ,0.55);
    -moz-box-shadow: 0px 0px 10px 8px rgba(3, 39, 29, 0.55);
    box-shadow: 0px 0px 10px 8px rgba(3, 39, 29,0.55);
}
.thumbnail svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #03271D;
}
.thumnail-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.4rem;
}
.creator-name{
    font-family: var(--font-space-mono);
    font-weight: 700;
}
.video-title{
    font-family: var(--font-source-sans-3);
    color: #03271D;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}
.modal-close-icon-container{
    position: relative;
}
.modal-close-icon-container svg{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: #03271D;
    cursor: pointer;
    transition: fill 100ms ease-in;
}
.modal-close-icon-container svg:hover{
    fill: rgba(255, 0, 0, 0.923);
}